* {
    text-decoration: none ;
}
.footer {
    padding-top: 120px;
    color: #fff;

}

.footer_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer_column {
    max-width: 250px;
}
.footer_group {
    line-height: 1.7;

}
.footer_title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;

}
.footer_text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;

}

.footer-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 19px;
    line-height: 1.5;
}

.footer-list li {
    color: #fff;
}

.footer-list_item {
    margin-bottom: 20px;
    text-decoration: none;
}


.footer_card {
    display: flex;
    justify-content: space-between;
}
.copyright {
    max-width: 1310;
    border: 1px solid;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #b2b2b2;
    font-weight: 600;
}

.copyright_row {
    display: flex;
    justify-content: space-between;
}

.copyright_links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright_links-item {
    margin-right: 44px;

}  

.copyright_links-item a {
    font-size: 19px;
    line-height: 1.7;
    color: #b2b2b2;
    text-decoration: none;
} 

.copyright_text {
    font-size: 19px;
    line-height: 1.7;
}