.header {
    height: 800px;
    width: 100%;
    padding-top: 36px;
    background-color: #f0ded2;
    background-image: url("../img/header-bg1.jpg");
    background-size: cover;
    background-position: center;

}
.header-nav-row {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_nav {
    display: flex;
    height: 15px;
    color: #404040;
    font-family: "Teko";
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.45px;
}

.header_nav-link {
    position: relative;
    color: #404040;
    text-decoration: none;
    margin-right: 52px;
}
.header_nav-link::after {
    position: absolute;
    right: -30px;
    top: 10px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #004cff;
    pointer-events: none;
    transform: rotate(45deg);
}

.header_nav-link:last-child {
    margin-right: 0;

}

.header_nav-link:last-child::after {
    display: none;
}


.header_nav-link:hover, .header_nav-link--active {
    color: #004cff;
}

.header_button {
    height: 66px;
    padding-left: 38px;
    padding-right: 38px;
    line-height: 66px;
    background-color: #004cff;

    color: #ffffff;
    font-family: 'Teko', sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.45px;
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.header_button:hover {
    background-color: #306af1;
}

.header_promo {
    max-width: 400px;
}
.header_title {
    margin-bottom: 60px;
    color: #ffffff;
    font-family: "Teko";
    font-size: 68px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 2.73px;
}
.header_promo-button {
    display: inline-block;
    padding-top: 14px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 14px;
    border: 3px solid #ffffff;

    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.header_promo-button:hover {
    opacity: .2;
}
