.section-service {
    padding-top: 104px;
    padding-bottom: 104px;
}
.section-service_row {
    display: flex;
    justify-content: space-between;
}

.service-block {
    display: flex;
    justify-content: space-between;
    width: 33%;
    padding: 35px 30px;
    background-color: #fff;
    color: #000;
}

.service-block_description {
    width: 155px;
    
}
.service-block_title {
    margin: 0;
    margin-bottom: 10px;
    min-height: 36px;
    color: #262626;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.44;
}
.service_block_text {
    color: #707070;
    font-size: 11px;
    line-height: 1.5;
}