.subscribe-wrapper {
}

.subscribe {
    height: 550px;
    position: relative;
}

.subscribe_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.subscribe_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(222, 100%, 30%, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe_title {
    color: #fff;
    font-family: 'Teko', sans-serif;
    font-size: 97px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 80px;
}

.subscribe_form {
    display: flex;
    width: 900px;
}

.subscribe_input {
    background-color: #fff;
    padding: 0;
    height: 62px;
    border: none;
    flex-grow: 2;
    padding-left: 44px;
    padding-right: 44px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.subscribe_button {
    width: 180px;
    height: 62px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    background-color: #004cffbf;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

.subscribe_button:hover {
    background-color: rgb(133, 159, 245);
}